.test-r {  border: 1px solid red; }
.test-b {  border: 1px solid blue; }
.test-g {  border: 1px solid green; }


.note-footer {
  font-size: 0.9em;
  color: #777;
}
.note-footer>a {
  margin-right: 5px;
}
.timeline-time {
  width: 100px;
  padding-right: 20px;
  float: left;
  display: block;
}
.tl-time {
  display: block;
  text-align: right;
  font-size: 0.9em;
  font-weight: bold;
  color: #555;
}
.tl-day {
  display: block;
  text-align: right;
  font-size:0.8em;
  color: gray;
}
.timeline-box {
  display: block;
  margin-left: 120px;
  padding-left: 40px;
  border-left: 3px solid #ccc;
  padding-bottom: 35px;
}
.timeline-box-final {
  border: none;
}
.timeline-update {
  font-size: 0.9em;
  padding-top: 10px;
}
.timeline-final {
  margin-bottom: 30px;
}
.timeline-icon {
  width: 36px;
  height: 36px;
  margin-left: 4px;
  border-radius: 18px;
  float: left;
  display: block;

  border: 3px solid #e6e6e6;

  background: #17a2b8;
  text-align: center;

  padding-top: 5px;
  padding-left: 1px;
}

.timeline-icon-avatar {

}

.timeline-icon-text {
  color: white;
  padding-top: 8px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  margin-left: 0px;
}
.spacer{ 
  display:block;
  clear: both; 
  height: 20px;
}
.timeline-icon-action {
  background: #e6e6e6;
  color: #777;
}
.avatar-placeholder {
  background: #e6e6e6;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  margin-left: 0px;
  text-align: center;
  padding-top: 12px;
}
.col-avatar {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 8px;
}

.note-author {
  font-weight: bold;
  font-size: 1.1em;
  color: #555;
  margin-right: 5px;
}

.card-note {
  margin-top
}

.note-time {
  font-size: 0.8em;
  color: #aaa;
}

.btn-spacer{
  margin-bottom: 10px;
  width: 100%;
  font-size: 0.9em;
}

.card-mini {
  border: none;
}

.card-body-mini {
  padding: 10px;
  text-align: center;
}

span.details-mini {
  font-size: 1.2em;
  font-weight: bold;
  color: #666;
  margin-right: 15px;
}

.col-mini {
  padding: 0px;
  magin: 0px;
}

small.created {
  margin-top: 10px;
}

.page-title h2 {
  margin-bottom: 0px; 
  display: block;
}



.avatarCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 30px;
    height: 30px;
    padding: 8px;
    
    background: #ff9980;
    color: #fff;
    text-align: center;
    
    font: 27px Arial, sans-serif;
}

span.details-right,
span.details-left {
  display: block;
}

span.details-mute {
  font-size:0.9em;
  font-style: italic;
  color: #666;
}

.details-row {
  margin-bottom: 5px;
}

ul.radio-list {
  list-style-type: none;
}

.badge-nudge {
  margin-left: 5px !important;
}


ul.radio-list li h6 {
  display: inline-block;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }